/*Reset leve do CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    font-family: 'Sacramento', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Squada One', cursive;
*/
body{
    background-color: #111d4a;
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 10px;
}

/*Se a tela tiver pelo menos 400px ela vai carregar esses estilos*/
@media (min-width: 400px) {
    body{
        font-size: 14px;
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu a{
    /*background-color: red;*/
    
    display: block;
    font-weight: bold;
    padding: 5px 2em;
    color: black;
    transition: background-color, color, 0.8s;
}
.menu a:hover{
    background-color: #111d4a;
    color: whitesmoke;
}

.sobre,
.portfolio,
.contato{
    min-height: 100vh;
}

@media (min-width: 1200px){
    .sobre,
    .portfolio,
    .contato{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }   
}


.sobre h2,
.portfolio h2,
.contato h2{
    text-align: center;
    line-height: 4em;
    color: whitesmoke;
}

.sobre p{
    text-align: justify;
    margin-bottom: 1em;
    color: white;
    text-indent: 2em;
}
.sobre .perfil{
    float: left;
    margin-right: 2em;
}
.sobre .perfil img{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.sobre a{
    font-weight: bold;
    color:magenta;
    text-decoration: underline;
}
.sobre a:hover{
    color: black;
    background-color: orangered;
}

.contato a{
    color: whitesmoke;
    font-size: 3em;
    height: 1.2em;
    transition: text-shadow, 0.8s;
}
.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: greenyellow 0px 0px 20px;
}
.contato .icons{
    text-align: center;
}
.contato .grid{
    height: 1.2vh;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
  
.site-subtitle,
.site-title{
    color: whitesmoke;
    text-align: center;
}
.site-title{
    font-family: 'Sacramento', cursive;
    font-size: 4em;
}  
.site-subtitle{
    font-family: 'Squada One', cursive;
    font-style: italic;
    font-size: 2em;
    line-height: 2em;
}

.portfolio a{
    color: #879ee9;
}
.img-portfolio{
    border-radius: 12%;
    border: 1px solid black;
    height: 130px;
    width: 180px;
    object-fit: cover;
    transition: transform 0.5s;
}
.img-portfolio:active,
.img-portfolio:hover{
    transform: scale(1.1);
}
.portfolio figure{
    text-align: center; 
    padding: 10px;
}

.grid{
    display: grid;
    gap: 1em;
    height: 50vh;
    align-content: center bottom;
    justify-content: center;
}

@media (min-width: 412px){
    .grid{
        grid-template-columns: repeat(2, 180px);
    }
}
@media (min-width: 605px){
    .grid{
        grid-template-columns: repeat(3, 180px);
    }
}
@media (min-width: 1200px){
    .img-portfolio{
        height: auto;
        width: 100%;
    }
}
